body
{
    position: relative;


}


header figure
{
    width: 850px;
	height: 200px;
	margin-left: auto;
    margin-right: auto;
    position: relative;
}


			
.contenedor
{
	display:flex;
	display: -webkit-flex;
	list-style:none;
}

.cajas
{
	background:red;
	margin:0.5%;
	-webkit-flex: initial;
	flex: initial;
	width: 30%;
	
}

.flex1
{
	
}


.flex2
{
	
}

.flex3
{
	
}



