body
{
    position: relative;


}


header figure
{
    width: 850px;
	height: 200px;
	margin-left: auto;
    margin-right: auto;
    position: relative;
}


			
.contenedor
{
	display:flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	list-style:none;
	justify-content: space-around;
}

.cajas
{
	background:red;
	padding:5px;
	
	/*-webkit-flex-wrap: wrap;
	flex-wrap: wrap;*/
	width: 200px;
	height:150px;
	margin-top: 10px;
	text-align:center;
	
}

.flex1
{
	
}


.flex2
{
	
}

.flex3
{
	
}



